.container-coleta {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../assets/caminhao-home.png");
  background-size: cover;
  background-position: center;
  padding-top: 150px;
}

.agende{
  padding-top: 0px;
  font-size: 2rem;
}

form {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding: 70px;
  border-radius: 10px;
  background-color: #ffff;
  margin: 20px;
  gap: 25px;
}
input,
select {
  height: 35px;
  width: 300px;
  border-color: #003153;
  border-width: 1.5px; 
  border-style: solid;
  border-radius: 10px;
  outline-color: #003153;
}
label {
  padding-top: 10px;
  font-size: 1.2rem;
  font-weight: 700;
}
