.container{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center ;
  height: 75vh;
  padding-top: 150px
}
.cards-container{
    flex-direction: row;
    display: flex;
    gap: 50px;
    padding-top: 20px ;
    padding-bottom: 100px;
}
.card {
 width: 190px;
 height: 254px;
 border-radius: 20px;
 background: #f5f5f5;
 position: relative;
 padding: 1.8rem;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
}

.card-details {
 color: #003153;
 height: 100%;
 gap: .5em;
 display: grid;
 place-content: center;
}

.text-title {
 font-size: 1.5em;
 font-weight: bold;
}

/*Hover*/
.card:hover {
 border-color: #003153;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
 transform: translate(-50%, 50%);
 opacity: 1;
}
